
@{
    ViewBag.Title = "Handler";
}

<h2>Handler</h2>
<h3>@base.ViewBag.HttpHandler</h3>

<p>
    <img src="~/Content/Image/liuyan.jpg" />
</p>

<p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1562687106848&di=cd702e76169c356a73b952acefbe7311&imgtype=0&src=http%3A%2F%2Fimg.ph.126.net%2FT3xfDm6NpNk_MZfNrsDjYA%3D%3D%2F3071736420860264427.jpg" /></p>